
      <!--  <div class="Div_ListeFilm col-md-4" >
        	<div class="sujet">Liste de mes films</div>
        	<div class="corp">
        		<table>
        			<tr>
        				<th>Nom</td>
        				<th>Année</td>
        				<th>Catégorie</td>
        			</tr>
  		       	<?php
		        	foreach($AllMovie as $movie)
		            {
		        ?>
				        <tr>
				            <td><?php echo $movie["Nom_Film"]; ?>
				            </td>
				            <td><?php echo $movie["Annee_Film"]; ?>
				            </td>
				            <td><?php echo $movie["Categorie_Film"]; ?>
				            </td>
				         </tr>
		     	
                     <?php
		            }
		        ?>
		         </table>
	        </div>
    	</div> -->

        <div class="row">
        	<div class="Recherche col-md-4 col-md-offset-1">
            	<form action="controller/home_controller.php" method="POST" id="frm_search">
                	 <label class="" for="txtDate">Rechercher un film : </label>
                     <input class="search" type="text"  name="recherche" />
                     <input class="btn btn-success" type="submit" value="Valider" />
            	</form>
            </div>
        </div>

  
    